h1 {
    text-align: center;
    color: #bbbaba;
    font-family: "Cinzel", serif;
    font-size: xx-large;
    text-shadow: 1px 2px 2px #ffffff;
    font-weight: bold;
    font-size: 75px;
}

body {
    background-color: #001603;
}

.box {
    background-color: #89ac7f;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-left: 45px;
    animation: slide-in 0.5s ease-in-out;
    margin-top: 150px;
    width: 750px;
    height: 150px;
    
}

p {
    color: #000000;
    font-size: larger;
    font-style: italic;
    font-weight: bold;
}

h2 {
    color: #000000;
    font-size: xx-large;
    font-weight: bold;
}

.img {
    text-align: center;
}

img {
    width: 450px    ;
    height: 450px;
}