h1 {
    text-align: center;
    color: #bbbaba ;
    font-family: "Cinzel", serif;
   font-size: xx-large;
    text-shadow: 1px 2px 2px #ffffff;   
  font-weight: bold;    
}
body {
    background-color: #001603;
}   